@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
}
.App {
  width: 100%;
  /* background-image: linear-gradient(to top left, #9999dc, #dabd89, #cb6868, white, #ad7dad, #9cea9c); */
  background-image: url('../public/images/anime1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
